Source: legalcase
Section: web
Priority: optional
Maintainer: Mathieu Lutfy <mathieu@bidon.ca>

Package: legalcase
Version: 0.7.1-0
Architecture: all
Depends: apache | apache-ssl | apache2 , php4 (>=4.1.0) | php5, mysql-client, php4-mysql | php5-mysql
Recommends: mysql-server (>= 4.1), php4-pear | php-pear
Suggests: 
Installed-Size: 2780
Description: The legal case management system (LCM) 
 LCM is aimed for use by not-for-profit legal advice centres
 in order to make better follow-ups of their cases, including 
 client consultations, court events and reporting.
