#breadcrumb {
	font-size: 9px;
}

/* tabs */

ul.tabs_list li {
	font-size: 10px;
}

ul.tabs_list li.active {
	font-size: 10px;
}

.nav_column_menu_head {
	font-size: 12px;
}

ul.nav_menu_list li {
	font-size: 11px;
}

p.nav_column_text {
	font-size: 11px;
}

/* Buttons-like effect */

#main_column .prefs_column_menu_head {
	font-size: 11px;
}

.prefs_column_menu_head {
	font-size: 12px;
}

p.prefs_column_text {
	font-size: 11px;
}

a.prefs_bold_lnk {
	font-size: 10px;
}

a.prefs_normal_lnk {
	font-size: 10px;
}

/* Form elements */

#main_column form.search_form {
	font-size: 10px;
}

#main_column input.search_form_txt {
	font-size: 11px;
}

#main_column input.search_form_btn,#main_column button.simple_form_btn {
	font-size: 10px;
}

#main_column textarea.frm_tarea {
	font-size: 11px;
}

#main_column select.sel_frm {
	font-size: 11px;
}

form.search_form {
	font-size: 11px;
}

input.search_form_txt {
	font-size: 12px;
}

input.search_form_btn,button.simple_form_btn {
	font-size: 11px;
}

textarea.frm_tarea {
	font-size: 12px;
}

select.sel_frm {
	font-size: 12px;
}

/* ------------------------------- */
/* Content column settings */
/* ------------------------------ */

h3.content_head {
	/* font-size: 100%; */
}

h4 {
	/* font-size: 100%; */
}

table.tbl_data td {
	font-size: 11px;
}

td.tbl_head, th.tbl_head {
	font-size: 11px;
}

table.tbl_usr_dtl td {
	font-size: 11px;
}

td.heading, th.heading {
	font-size: 11px;
}

p.normal_text {
	font-size: 11px;
}

fieldset.conf_info_box, fieldset.info_box {
	font-size: 11px;
}

ul.info {
	font-size: 10px;
}

small.sm_11 {
	font-size: 10px;
}

ul.simple_list li {
	font-size: 11px;
}

a.add_lnk,a.create_new_lnk,a.edit_lnk,a.run_lnk, a.exp_lnk {
	font-size: 10px;
}

.small_help_box {
	font-size: 10px;
}

/* Go to page bar */

.page_numbers td {
	font-size: 10px;
}

/* For the Small/Normal/Large Font size list */

ul.font_size_buttons li a {
	font-size: 11px;
}

a.set_fnt_sz {
	font-size: 11px;
}

/* --- [ Errors list ] --- */

ul.err_list li {
	font-size: 11px;
}

.sys_msg_box {
	font-size: 11px;
}
