/* -------------------- */
/* Help pages styles */
/* -------------------- */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	width: 735px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding-left: 5px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	color: #333;
	background: #efefef;
}

h2 {
	margin: 5px 0px 0px 15px;
	padding: 0;
}

#hlp_big_box {
	width: 740px;
	height: 530px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
}

#hlp_menu {
	float: left;
	width: 160px;
}

#hlp_cont {
	float: right;
	width: 574px;
	height: 510px;
	border-left: 1px solid #999;
}

#hlp_btm {
	clear: both;
	height: 19px;
	background: #efefef;
	border-top: 1px solid #999;
}

/* Help main menu */

ul#nav {
	margin: 0;
	padding: 0;
}

ul#nav li {
	list-style-type: none;
}

ul#nav li a {
	display: block;
	width: 160px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #999;
	padding-left: 5px;
}

ul#nav li a:hover {
	background: #efefef;
	color: #000;
}

ul.subnav {
	display: none;
}