body {
	background: #efefef;
}

select,button,input,option,textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.box_error {
	width: 450px;
	border: 2px solid #ff0000;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #900;
}

.box_warning {
	width: 450px;
	border: 2px solid #f60;
	color: #f60;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.box_success {
	width: 450px;
	border: 1px solid #009900;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

textarea {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 120%;
	font-family: Verdana,Arial,Sans,sans-serif;
	color: #333;
	background: #efefef;
	margin: 0;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #333;
}

h3 {
	font-size: 110%;
	font-family: Verdana,Arial,Sans,sans-serif;
	color: #000000;
}

/*
a {
	text-decoration: none; 
}

a:hover {
	color:#FF9900; 
	text-decoration: underline;
}
*/

a:link, a:visited, a:active {
	text-decoration: none;
	color: #f60;
}

a:hover {
	text-decoration: underline;
	color: #f60;
}

li {
	list-style-type: none;
}


button {
	background-color: #ccc;
	border: 1px solid #999;
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

/* input[type=text],
input[type=password] { */
input.fondo {
	width: 100%; 
	/* background-color: #FFF0E0; 
	background-position: center bottom; */
	float: none; 
	/* color: #000000; */
	background-color: #def;
	border: 1px solid #369;
	color: #036;
}

/*
 * The following are used only on the introduction
 * screen of the installer
 */

#title {
	margin-top: 2em;
	padding: 0;
}

#license {
	margin-top: 5em;
	padding: 0;
	font-size: 12px;
}

#license a {
	font-size: 12px;
}

#install_screen {
	width: 600px;
	border: 1px solid #333;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}

#install_screen select {
	font-size: 12px;
}

.simple_text {
	font-size: 12px;
	padding: 2px;
}

fieldset.fs_box {
	border: 1px solid #ccc;
	background: #efefef;
	font-size: 12px;
	width: 450px;
	padding: 15px;
}

ul.simple_list li {
	text-align: left;
	font-size: 12px;
}

/* Form elements */

input.txt_lmnt {
	border: 1px solid #369;
	background: #def;
	color: #036;
	font-size: 12px;
}

/* not used (and does not work) */
.logo {
	background-image: url('images/lcm/logo_lcm-170.png');
	border: 0;
}

