.box_error {
	border: 2px solid #ff0000;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.box_warning {
	border: 2px solid #ffff00;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.box_success {
	border: 1px solid #00ff00;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

textarea {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 120%;
	font-family: Verdana,Arial,Sans,sans-serif;
	color: #970038;
}

h3 {
	font-size: 110%;
	font-family: Verdana,Arial,Sans,sans-serif;
	color: #000000;
}

/*
a {
	text-decoration: none; 
}

a:hover {
	color:#FF9900; 
	text-decoration: underline;
}
*/

a:link, a:visited, a:active {
	text-decoration: none;
	color: #f60;
}

a:hover {
	text-decoration: underline;
	color: #f60;
}

li {
	list-style-type: none;
}


button {
	background-color: #FFCC66;
	background-position: center bottom; 
	color: #000000
}

/* input[type=text],
input[type=password] { */
input.fondo {
	width: 100%; 
	/* background-color: #FFF0E0; 
	background-position: center bottom; */
	float: none; 
	/* color: #000000; */
	background-color: #def;
	border: 1px solid #369;
	color: #036;
}

/*
 * The following are used only on the introduction
 * screen of the installer
 */

#title {
	margin-top: 2em;
	padding: 0;
}

#license {
	margin-top: 5em;
	padding: 0;
}

/* not used (and does not work) */
.logo {
	background-image: url('images/lcm/logo_lcm-170.png');
	border: 0;
}

